@model NetflixPlans
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>StandartPlanIndex</title>
</head>
<body>
    <div class="container">
        <br />
        
        <h3>Plan Adı: @Model.PlanType("Standart")</h3>
        <h3>Kişi Sayısı: @Model.PersonCount(2) </h3>
        <h3>Plan İçeriği: @Model.Content("Dizi-Film") </h3>
        <h3>Çözünürlük: @Model.Resolution("1080p")</h3>
        <h3>Plan Fiyatı: @Model.Price(89.99)</h3>

        <a asp-controller="Default" asp-action="BasicPlanIndex" class="btn btn-primary">Basic Plan</a>
        <a asp-controller="Default" asp-action="UltraPlanIndex" class="btn btn-success">Ultra Plan</a>
    </div>
</body>
</html>
